@{
    ViewData["Title"] = "Home Page";
}

@model userProfile

<div class="text-center">
    <h1 class="display-4">Welcome User #@Model.steamid</h1>
    <p>Click <a href="@Model.profileurl">here</a>to visit your Steam account page.</p>
</div>
