@{
    ViewData["Title"] = "Home Page";
}

@model List<AspNetUsers>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (AspNetUsers user in Model)
{
    <h3>@user.UserName</h3>
}