@{
    ViewData["Title"] = "Home Page";
}

@model List<AspNetUsers>

<div class="container bg-primary">
    <div class="text-center">
        <h1>Welcome</h1>
        <p>This is a site to introduce gamers to the people 
        that player similar games, have similar play styles, or just gamers </p>
    </div>
</div>

 

<<<<<<< HEAD


@foreach (AspNetUsers user in Model)
{
    <h3>@user</h3>
=======
@foreach (AspNetUsers user in Model)
{
    <h3>@user.UserName</h3>
>>>>>>> 9268784e51ed714494098398855b2bd6a69564b3
}