@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .imageContainer {
            background-image: url(https://cdn.dribbble.com/users/673549/screenshots/3159371/videogamecontroller_background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    

    <div class="imageContainer">   
        <div class="col-12">
            <div class="display-1">
                <div class="text-center">
                    <p style="font-family: fantasy">GamerMatch</p>
                </div>
            </div>
            <div class="text-center">
                <p>
                    This is a site to introduce gamers to the people
                    that player similar games, have similar play styles, or just gamers
                </p>
            </div>
        </div>
    </div>

