
@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AspNetUsers

<div class="text-center">
    <h1>Welcome to partyUp!</h1>
    <p>Please confirm your information:</p>
    <form id="myformOne" asp-controller="Home" asp-action="Results" onsubmit="return ValidationEvent()">
        <div id="leftbox">
            <div class="container bg-primary">
                <fieldset>
                    <legend>Search Options</legend>
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input class="form-control" type="Text" name="userName" pattern="[A-Za-z0-9]+" />
                    </div>
                    @if (ViewData["MyGames"] != null)
                    {
                        <div class="form-group">
                            <label for="game">Steam Game Title</label>
                            <select name="game">
                                <option value=""></option>
                                @foreach (var item in ViewData["MyGames"] as List<string>)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    }
                    <div class="form-group">
                        <label for="boardgame">Board Game Title</label>
                        <select name="boardgame">
                            <option value=""></option>
                            @foreach (var item in ViewData["Games"] as List<BoardGames>)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="difficulty">Select Difficulty</label>
                        <select name="difficulty">
                            <option value="casual">Casual</option>
                            <option value="competitive">Competitive</option>
                            <option value="win">Play to Win</option>
                        </select>
                    </div>
                    </fieldset>
                </div>
            </div>
    </form>

</div>
