@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AspNetUsers>
@{
    List<string> matches = new List<string>();
    string title = null;
}
<h1>Results for</h1>
<h2>
    @foreach (var search in ViewData["Search"] as List<string>)
    {
        if (search != null && search != "null")
        {
            @search
            title = search;
        }
    }
</h2>
<table>
    @for (int i = 0; i < Model.Count; i++)
    {
        if (Model[i].UserName != User.Identity.Name)
        {
            matches.Add(Model[i].UserName);

            <tr>
                <td>
                    <h4>Username: @Model[i].UserName</h4>
                    <h4>Preferred Play Style: @Model[i].UserPref</h4>
                    <h4>Match Rating: (To Be Added)</h4>
                    <h4>User Rating: (To Be Added)</h4>
                    <button type="button" value="Accept Match" onclick="location.href='@Url.Action("MatchUsers", "Match", new { matchUser = Model[i].UserName })'">Match</button>
                    <button type="button" value="Deny Match" onclick="location.href='@Url.Action("DenyMatch", "Match", new { user = Model[i], title = title})'">Dismiss</button>
                </td>
            </tr>
        }
    }
</table>