@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AspNetUsers>
@*<h1>Results for @Context.Session.GetString("Searched Game")</h1>*@
<h1>Results for</h1>
<h2>
    @foreach (var search in ViewData["Search"] as List<string>)
    {
        if (search != null)
        {
            @search
        }
    }
</h2>
<table>
    @foreach (AspNetUsers user in Model)
    {
        if (user.UserName != User.Identity.Name)
        {
            <tr>
                <td>
                    <h4>Username: @user.UserName</h4>
                    <h4>Preferred Play Style: @user.UserPref</h4>
                    <h4>Match Rating: (To Be Added)</h4>
                    <h4>User Rating: (To Be Added)</h4>
                    <button type="button" value="Accept Match" onclick="location.href='@Url.Action("MatchUsers", "Match", new { matchUser = user.UserName })'" />
                    <button>Deny Match</button>
                </td>
            </tr>
        }
    }
</table>